.is-hidden{
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
    } 
    
.backdrop {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    /* transition: opacity 250ms linear,
            visibility 250ms linear; */

    animation: modal-open .5s;
    }

    @keyframes modal-open{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }

 .backdrop .is-hidden .modal{
    transform: translate(-50%, -50%) scale(0);
    transition: transform  250ms cubic-bezier(0.4, 0, 0.2, 1), 100ms;
} 

.modal-content{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    padding: 32px 24px;

    background-color: #FAFAFA;
    border-radius: 15px;

 
    transition: transform 250ms linear, 100ms;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 
}

.modal-header{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    margin-top: auto;

    letter-spacing: -0.03em;
    text-transform: uppercase;

    color: #111111;
}

.modal-header .modal-close{
    float: right;
}

.title-colored{
    color: #FD9222;
}

.modal-title-buy{
    text-align: center;
}

.modal-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: #111111;
            
    border: transparent;
    border-radius: 50%;
    background-color: #FAFAFA;

    transition: backgroung-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 100ms;
}

.modal-close:is(:hover :focus){
    stroke: #F16529;
        
    border: transparent;
    background-color: #FCF1E0;
}

.modal-footer{
    padding: 8px 0 0 0;
}

.buy-option-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    margin-bottom: 40px;
}


.buy-option{
align-items: center;
}

.buy-option-item{
    align-items: center;
    padding: 24px 20px 18px 20px;

    background: #FFFFFF;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
}

.buy-option-img{
    margin-bottom: 14px;
}

 .buy-option-container{
    width: 513px;
 }

 .check-button .checkbox .check-btn {
    margin-right: 100px;
 }
 #ck-button{
    margin:4px;
     background-color: #FAFAFA;
     border-radius: 100px;
     border: 1px solid rgba(17, 17, 17, 0.1);
     overflow: auto;
     float: left;
     
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     transition-delay: 100ms;
 }
 
 #ck-button .checkbox {
  /*    float:left; */
     width: 4em;
 }
 
 #ck-button .checkbox .weight {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: calc(17/14);
    color: #111111;
     text-align: center;
     padding: 8px 27px;
     display: block;
 }
 
 #ck-button .checkbox .check-btn {
     position: absolute;
     z-index: -1;
     opacity: 0;
 }
 
 #ck-button .check-btn:checked + span {
     background-color:#FCF1E0;
     color:#FD9222;
 }

.modal-form-input{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.02em;

    border: 1.5px solid rgba(17, 17, 17, 0.05);
    border-radius: 8px;
}

.modal-form-field:not(:last-child){
    margin-bottom: 18px;
}

.modal-form-input:focus {
    outline: transparent;
    border: 1px solid #FD9222;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 100ms;
  }


  .modal-form-field {
    display: block;

    color: #000000;
    font-family:  'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(18/14);
    letter-spacing: -0.02em;
  }

  .modal-form-input-wrapper {
    position: relative;
  }

  .modal-frm-inpt-desc {
    margin-bottom: 8px;
  }

  .modal-form-textarea{
    height: 91px;
    resize: none;
    padding-top: 14px;
    padding-left: 18px;
    margin-bottom: 18px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(17/14);
    letter-spacing: -0.02em;

    border: 1.5px solid rgba(17, 17, 17, 0.05);
    border-radius: 8px;
}

.modal-form-textarea:focus{
    outline: transparent;
    border: solid 1px ;
    border: 1px solid #FD9222;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 100ms;
}

.card-icon {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
}

.button{
    border-radius: 100px;
    border-color: transparent;
    cursor: pointer;

    text-align: center;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: calc(17/14);
    color: #FFFFFF;
    background-color: #FD9222;
}

.button:is(:hover, :focus, :active){
    outline: transparent;
    color: #FD9222
    ;
    background-color: #FCF1E0;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 100ms;
}

.form-button{
    padding: 12px 28px;
}

#name{
	width: auto;
}

.modal-form-name{
    display: flex;
    flex-direction: row;
    gap: 21px;
}

.form-input{
    height: 66px;
}

/* css for desktop */
@media screen and (min-width: 1200px){

	.modal-buy{
        width: 609px;
        height: 1058px;
        padding: 48px;
    }

	.modal-review{
        width: 517px;
        height: 631px;
        padding: 40px;
    }

    .modal-title-buy{
        width: 298px;
        margin-bottom: 40px;

        line-height: calc(28/24);
    }

	.modal-title{
        width: 298px;
        margin-bottom: 40px;

        font-size: 24px;
        line-height: calc(28/24);
    }

	.name-wrap{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}

    .modal-close {
        top: 24px;
        right: 24px;
              
        height: 28px;
        width: 28px;
    }

    .modal-form{
        height: 392px;
    }

	.modal-form-input{
        font-size: 18px;
        line-height: calc(22/18);

        width: 513px;
        height: 66px;
        padding: 14px 18px;
        color: rgba(64, 64, 64, 0.3);
    }



    .modal-form-textarea{
        width: 437px;
        height: 137px;
        padding: 22px 24px;
        margin-bottom: 18px;
    }

    .form-button{
        width: 117px;
        height: 45px;
        margin-left: auto;
    }

	.buy-option-item{
		padding-bottom: 18px;
	
		/* background: #FFFFFF;
		border: 1px solid rgba(17, 17, 17, 0.1);
		border-radius: 15px; */
	}

	.modal-form-name{
		display: flex;
		flex-direction: row;
		gap: 21px;
	}
}

/* css for Tablet */
@media screen and (min-width: 768px){

    .modal-review{
        width: 517px;
        height: 631px;
        padding-top: 40px;
        padding-left: 40px;
    }

    .modal-buy{
        width: 609px;
        height: 1058px;
        padding: 40px;
    }
    
    .modal-close {
        top: 24px;
        right: 24px;
              
        height: 28px;
        width: 28px;
    }

    .modal-title-buy{
        text-align: center;
        margin-right: auto;
        width: 122px;
        margin-bottom: 40px;

        font-size: 24px;
        line-height: calc(28/24);
    }

    .modal-title-review{
        width: 298px;
        margin-bottom: 40px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: calc(28/24);
    }


    .modal-form-buy{
        height: 392px;
    }

    .modal-form-review{
        height: 392px;
    }

    .modal-form-field:not(:last-child){
        margin-bottom: 19px; 
     }

     .modal-form-input{
        font-size: 18px;
        line-height: calc(22/18);

        width: 513px;
        height: 66px;
        padding: 14px 18px;
    }

    .modal-form-textarea{
        width: 437px;
        height: 137px;
        padding: 22px 24px;
        margin-bottom: 18px;
        }

    .form-button{
        width: 117px;
        height: 45px;
        margin-left: auto;
    }

    .buy-option-item{
        padding-bottom: 18px;
/*     
        background: #FFFFFF;
        border: 1px solid rgba(17, 17, 17, 0.1);
        border-radius: 15px; */
    }

    .buy-option-img{
        width: 100%;
        height: 100%
    }
	.modal-form-name{
		display: flex;
		flex-direction: row;
		gap: 21px;
	}  
}

/* css for Mobile */
@media screen and (min-width: 320px){

    .modal-buy{
        width: 311px;
        height: 994px;
        padding: 32px 24px;
    }

    .modal-review{
        width: 311px;
        height: 471px;
        padding: 32px 24px;
    }

    .modal-title-buy{
        text-align: center;
        font-size: 20px;
        line-height: calc(24/20);
        }

    .modal-title-review{
        width: 255px;
        margin-bottom: 32px;

        font-size: 20px;
        line-height: calc(24/20);
    }

    .buy-modal-close{
        top: 24px;
        right: 24px;
              
        height: 28px;
        width: 28px;
    }

    .review-modal-close{
        top: 14px;
        right: 14px;
              
        height: 24px;
        width: 24px;
    }

    .icon-close{
        height:24px;
        width: 24px;
    }

    .buy-option-list{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

    .buy-option-container{
        width: 263px;
        height: 271px;
        margin-bottom: 32px;
        display: flex;
        flex-direction: column;
    }
    
    .buy-option{
    height: 85px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: baseline;
    }

    .modal-form{
        height: 512px;
    }

    .modal-form-field:not(:last-child){
        margin-bottom: 18px; 
     }

    .modal-form-input{
        width: 100%;
        height: 45px;
        padding: 14px 18px;
        border: solid 1px rgba(17, 17, 17, 0.1);
        border-radius: 15px;
   
        font-size: 14px;
        line-height: calc(17/14);
    }

    .modal-form-textarea{
        width: 263px;
        height: 91px;
        padding: 14px 18px;
        margin-bottom: 18px;
    }

    .review-text{
        font-size: 14px;
        line-height: calc(17/14);

        width: 263px;
        height: calc(45-28);
        padding: 14px 18px;
    }

    .submit-btn{
        padding: 12px 28px;
    }

    .send-btn{
        width: 93px;
        height: 41px;
        margin-left: auto;
    }

    .modal-form-name{
        display: flex;
        flex-direction: column;
        gap: 21px;
    }
}